<%= form_with model: [ @store, @product, @comment ], local: false do |form| %>
  <div class="container">
    <%= form.text_area :body, class: "comment_body" %>
    <%= form.submit class: "btn btn-primary ", id: "create_comment" %>
  </div>
<% end %>
