
<div class="container col-md-8 border border-secondary" style="background-color: #f5f5ef">

  <br>
  <br>
  <br>


  <div class="row">
    <h1 class="text_justify mx-auto">¿Quiénes somos?</h1>
  </div>
  <br>
  <br>
  <br>

    <div class="row col-sm-4 col-md-8 mx-auto ">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KJ52GEdcI50" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  <br>
  <br>
  <br>

  <div class="row col-md-6 mx-auto">
    <p class="text-justify text-center">
      Somos una plataforma cooperativa de venta de artesanías mexicanas, hecha de sueños por crear un lugar común de comercio justo y consciente para todas las personas que producen y consumen. Compartimos nuestra identidad, nuestra vida, y el color de nuestros pueblos.
    </p>
  </div>
  <br>
  <br>

  <div class="row  ">
    <h3 class="text_justify mx-auto">Misión:</h3>
  </div>

 <div class="row col-md-6 mx-auto">
    <p class="text-justify text-center">
      Ser un espacio abierto de comercialización virtual de artesanías textiles mexicanas, buscamos dignificar nuestro trabajo y el de nuestros pueblos, para lograr el rescate y la preservación de esta actividad.
    </p>
  </div>

  <br>
  <br>

  <div class="row ">
    <h3 class="text_justify mx-auto">Visión</h3>
  </div>
  <div class="row col-md-6 mx-auto">
    <p class="text-justify text-center">
      Ser una cooperativa conformada por personas artesanas comprometidas por promover las condiciones de vida de las familias de nuestra cooperativa,  y ser el espacio común de todas las personas artesanas en México.
    </p>

  </div>
  <br>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<br>













