
<br>
<br>
</div>



<div class="container col-md-6" style="background-color: #f5f5ef">
  <br>
  <br>
  <br>
  <div class="row">
    <h4 class="text_justify mx-auto"> <%=t(:tfyo)%></h4>
  </div>
  <br>

  <br>
  <div class="row ">
    <h5 class="text_justify mx-auto"><%=t(:wayb)%></h5>
  </div>
  <br>
  <br>

  <div class="row">

      <%= link_to t(:continue_buying), statics_home_path, class: "btn btn-primary mx-auto" %>

  </div>



  <br>
  <br>
  <br>
  <br>
</div>
