<!DOCTYPE html>
<html>
  <head>
    <div class="container-f mx-auto ">
      <nav class="navbar navbar-expand sticky-top ">
        <div class="col-lg-6 nav-item">
          <button type="button" class="btn btn-info">Preguntas y respuestas</button>
        </div>
      </nav>
    </div>
  </head>
  <body>

  </body>
</html>
