<!DOCTYPE html>
<html>
  <head>
    <div class="container-f ">
      <div class="col-lg-8 mx-auto ">
        <button type="button" class="btn btn-info">
          <%= link_to "Preguntas y respuestas", statics_answers_and_cuestions_path%></button>
      </div>
    </div>
  </head>
  <body>

  </body>
</html>
