<div class="container col-md-6">
  <div class="row">
      <h3>ELABORO ARTESANÍAS Y</h3>
  </div>
  <div class="row">
    <h1>QUIERO VENDER</h1>
  </div>
  <div class="row">
    <p class="text-justify">
      Somos una tienda cooperativa virtual, creada por  personas artesanas mexicanas y profesionales en varias áreas; reunidas para crear valor y compartir nuestra identidad de manera solidaria.
    </p>
  </div>
  <br>
  <table>
    <div class="row">
      ¿QUÉ ES UNA COOPERATIVA Y CÓMO FUNCIONA?
    </div>
    <br>
      <div class="container">
      <div class="row">
        <div class="col-sm">
          Somos un colectivo de propietarixs
        </div>
        <div class="col-sm">
          Tomamos decisiones de forma democrática
        </div>
        <div class="col-sm">
          Trabajamos por el bienestar de todxs
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          Una persona un voto
        </div>
        <div class="col-sm">
          Decidimos en asamblea el destino de los beneficios -ganancias
        </div>
        <div class="col-sm">
          Aportamos con nuestro trabajo
        </div>
      </div>
    </div>
  </table>
  <br>
  <br>
  <br>
  <table>
    <div class="row">
      INFORMACIÓN IMPORTANTE ANTES DE REGISTRARTE COMO VENDEDOR
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          Se colaborará con personas artesanas que realicen principalmente textiles
        </div>
        <div class="col-sm">
          Tus prendas pueden estar a la venta todo el tiempo que tú lo decidas
        </div>
        <div class="col-sm">
          Serás administrador de tu propia tienda
          Podrás vigilar quienes visitan y han comprado tus productos
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          Por ejemplo: blusas, camisas, tapetes, caminos, bolsas,etc. con identidad cultural comunitaria
        </div>
        <div class="col-sm">
          Tú decidirás cuando quitarla de la tienda o subir nuevos productos
        </div>
        <div class="col-sm">
          Tú conservas tu prenda hasta el último momento de la venta
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          No cobramos suscripción por vender en la plataforma
        </div>
        <div class="col-sm">
          No hay mínimo ni máxino de productos
          La artesanías tendrán un sobreprecio para cubrir los costos
        </div>
        <div class="col-sm">
          Recibirás ayuda para saber si le estás poniendo el precio justo a tu artesanía
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          Tú decides que prendas quieres vender, podrás subir o bajas los precios
        </div>
        <div class="col-sm">
          Y en este primer año de la cooperativa acordó que aportación social será en trabajo, no hay  aportación en dinero
        </div>
        <div class="col-sm">
          No estás segurx que tus productos se puedan vender en la tienda, no te preocupes nosotras te diremos
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          No tendrás que mover tus artesanías, la paquetería irá por ellas
        </div>
        <div class="col-sm">
          Las asambleas, Planteamiento de necesidades y solución será muy práctico en internet ¡te guiaremos! (no te desplazarás a ningún sitio)
        </div>
        <div class="col-sm">
          Si tienes dudas puedes llamar a este número o enviar un WhatsApp 9514081745
        </div>
      </div>
    </div>

  </table>

</div>


