<div class="container col-md-8">
  <div class="row mx-auto">
    <h1 class="text_justify"> Muchas gracias por tu confianza</h1>
  </div>
  <div class="row mx-auto">
    <h3 class="text_justify">Estamos verificando tus datos</h3>
  </div>
  <div class="row">
    <p class="text_justify">
      Revisaremos tu solicitud y nos pondremos en contacto contigo para terminar el proceso de registro.
      <br>
      Te compartimos más beneficios de ser parte de nuestra cooperativa.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        Tenemos un sistema virtual propio para la gestión de la cooperativa, una persona un voto.
      </div>
      <div class="col-sm">
        Los excedentes de la cooperativa, será para resolver las necesidades que la cooperativa plantee en asamblea.
      </div>
    </div>
   <div class="row">
    <div class="col-sm">
      Los principios y valores cooperativos serán nuestro mapa y brújula de proceder.
    </div>
    <div class="col-sm">
      No hay una sola dueña, somos una colectiva de propietarias.
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Si necesitas acompañamiento personalizado ¡cuenta con ello!
    </div>
    <div class="col-sm">
      Somos transparentes en toda la información.
    </div>
  </div>
</div>
</div>
