<div class="container col-md-6" style="background-color: #f5f5ef">
  <br>
  <br>
  <br>
  <div class="row">
    <h4 class="text_justify mx-auto"> Muchas gracias por tu confianza</h4>
  </div>
  <br>

  <br>
  <div class="row ">
    <h5 class="text_justify mx-auto">Estamos verificando tus datos</h5>
  </div>

  <br>
  <div class="container col-md-9">
    <div class="row">
      <p class="text_justify mx-auto">
        Revisaremos tu solicitud y nos pondremos en contacto
      contigo para terminar el proceso de registro.</p>
      <p class="text_justify mx-auto">
        Te compartimos más beneficios de ser parte de nuestra cooperativa.
      </p>
    </div>
  </div>
  <br>

  <div class="container" style="background-color: #a19381; color: white">
    <div class="row">
      <div class="col-sm border text_justify mx-auto">
        Tenemos un sistema virtual propio para la gestión de la cooperativa, una persona un voto.
      </div>
      <div class="col-sm border text_justify mx-auto">
        Los excedentes de la cooperativa, será para resolver las necesidades que la cooperativa plantee en asamblea.
      </div>
    </div>
   <div class="row">
    <div class="col-sm border text_justify mx-auto">
      Los principios y valores cooperativos serán nuestro mapa y brújula de proceder.
    </div>
    <div class="col-sm border text_justify mx-auto">
      No hay una sola dueña, somos una colectiva de propietarias.
    </div>
  </div>
  <div class="row">
    <div class="col-sm border text_justify mx-auto">
      Si necesitas acompañamiento personalizado ¡cuenta con ello!
    </div>
    <div class="col-sm border text_justify mx-auto">
      Somos transparentes en toda la información.
    </div>
  </div>
</div>
<br>
 <div class="container">
    <a >
      <%= image_tag "grafica.png", size: "700x150" , class: "img-fluid mx-auto" %>
    </a>
  </div>
<br>
<button>
  <%= link_to "Regresar", statics_home_path %>
</button>
<br>
</div>
